<div class="field">
  <label class="label">Poštna številka</label>
  <div class="control has-icons-left">
    <input class="input" name="posta" type="number" placeholder="Poštna številka" value="{{kraj.posta}}" required />
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
  </div>
</div>
<div class="field">
  <label class="label">Kraj</label>
  <div class="control has-icons-left">
    <input class="input" name="kraj" type="text" placeholder="Kraj" value="{{kraj.kraj}}" required />
    <span class="icon is-small is-left">
      <i class="fas fa-location-dot"></i>
    </span>
  </div>
</div>
