[submodule "oddaje/Profit"]
	path = oddaje/Profit
	url = https://github.com/vrle/Profit.git
[submodule "oddaje/fan-fiction-stats"]
	path = oddaje/fan-fiction-stats
	url = git@bitbucket.org:Emayla/fan-fiction-stats.git
[submodule "oddaje/Music"]
	path = oddaje/Music
	url = git@bitbucket.org:opbteam/projekt.git
[submodule "oddaje/Sanjsko-potovanje"]
	path = oddaje/Sanjsko-potovanje
	url = https://github.com/UrskaT/OPB_2016-Sanjsko_potovanje_nadOPB2014.git
