[submodule "oddaje/2016/Profit"]
	path = oddaje/2016/Profit
	url = https://github.com/vrle/Profit.git
[submodule "oddaje/2016/fan-fiction-stats"]
	path = oddaje/2016/fan-fiction-stats
	url = https://bitbucket.org/Emayla/fan-fiction-stats.git
[submodule "oddaje/2016/Music"]
	path = oddaje/2016/Music
	url = https://bitbucket.org/opbteam/projekt.git
[submodule "oddaje/2016/Sanjsko-potovanje"]
	path = oddaje/2016/Sanjsko-potovanje
	url = https://github.com/UrskaT/OPB_2016-Sanjsko_potovanje_nadOPB2014.git
[submodule "oddaje/2016/Glasbene-lestvice"]
	path = oddaje/2016/Glasbene-lestvice
	url = https://github.com/damjanm/Glasbene-lestvice.git
[submodule "oddaje/2016/Zlocini"]
	path = oddaje/2016/Zlocini
	url = https://bitbucket.org/Annch/gorile.git
[submodule "oddaje/2016/Avtomobili"]
	path = oddaje/2016/Avtomobili
	url = https://github.com/qwer317/opbprojekt.git
[submodule "oddaje/2017/Trgovina"]
	path = oddaje/2017/Trgovina
	url = https://github.com/MarvinHerzog/Trgovina.git
[submodule "oddaje/2017/HearthStone"]
	path = oddaje/2017/HearthStone
	url = https://github.com/JanezRadescek/HearthStone.git
[submodule "oddaje/2017/beernburger"]
	path = oddaje/2017/beernburger
	url = https://github.com/campovski/beernburger.git
[submodule "oddaje/2017/Smucarski-center"]
	path = oddaje/2017/Smucarski-center
	url = https://github.com/KrusecN13/Smucarski-center.git
[submodule "oddaje/2017/Formula-1"]
	path = oddaje/2017/Formula-1
	url = https://github.com/UrosKrampelj/Formula-1.git
[submodule "oddaje/2017/Fuzbal"]
	path = oddaje/2017/Fuzbal
	url = https://github.com/GalDrnovsek/Fuzbal.git
[submodule "oddaje/2017/Potovalni_prirocnik"]
	path = oddaje/2017/Potovalni_prirocnik
	url = https://github.com/rahlocutnacigra/Potovalni_prirocnik.git
[submodule "oddaje/2017/prevozi"]
	path = oddaje/2017/prevozi
	url = https://github.com/nocmatic/prevozi.git
[submodule "oddaje/2017/opb-projekt"]
	path = oddaje/2017/opb-projekt
	url = git@bitbucket.org:NaglicA12/opb-projekt.git
[submodule "oddaje/2017/uganke"]
	path = oddaje/2017/uganke
	url = https://github.com/lukalajovic/uganke.git
[submodule "oddaje/2017/Delnice"]
	path = oddaje/2017/Delnice
	url = https://github.com/EvaErzin/Delnice.git
[submodule "oddaje/2017/TaborniskaBaza"]
	path = oddaje/2017/TaborniskaBaza
	url = https://github.com/markbaltic/TaborniskaBaza.git
[submodule "oddaje/2018/e-kartoteka"]
	path = oddaje/2018/e-kartoteka
	url = https://github.com/LeonHorvat/e-kartoteka
[submodule "oddaje/2018/gaming-forum"]
	path = oddaje/2018/gaming-forum
	url = https://github.com/vkriznar/gaming-forum.git
[submodule "oddaje/2018/Fake_wizard_productions"]
	path = oddaje/2018/Fake_wizard_productions
	url = https://github.com/MolanM/Fake_wizard_productions.git
[submodule "oddaje/2018/Brskalnik-po-spletnih-trgovinah"]
	path = oddaje/2018/Brskalnik-po-spletnih-trgovinah
	url = https://github.com/MancaStrgar/Brskalnik-po-spletnih-trgovinah.git
[submodule "oddaje/2018/BazaRegat"]
	path = oddaje/2018/BazaRegat
	url = https://github.com/JureMB/BazaRegat.git
[submodule "oddaje/2018/Borza-OPB"]
	path = oddaje/2018/Borza-OPB
	url = https://github.com/Charisa/Borza-OPB.git
[submodule "oddaje/2018/Studentski-servis"]
	path = oddaje/2018/Studentski-servis
	url = https://github.com/lencdo/Studentski-servis.git
[submodule "oddaje/2018/Baza-clanstva-RDR"]
	path = oddaje/2018/Baza-clanstva-RDR
	url = https://github.com/pdurcik/Baza-clanstva-RDR.git
[submodule "oddaje/2018/Iskalnik-pesmi"]
	path = oddaje/2018/Iskalnik-pesmi
	url = https://github.com/marinasirk/Iskalnik-pesmi.git
[submodule "oddaje/2018/Najbolje-ocenjene-knjige"]
	path = oddaje/2018/Najbolje-ocenjene-knjige
	url = https://github.com/aniiiim/Najbolje-ocenjene-knjige.git
[submodule "oddaje/2018/Drinks-and-things"]
	path = oddaje/2018/Drinks-and-things
	url = https://github.com/tinemakovecki/Drinks-and-things.git
[submodule "oddaje/2018/Recepti"]
	path = oddaje/2018/Recepti
	url = https://github.com/tjasabajc/Recepti.git
[submodule "oddaje/2018/Ethnoguessr-V2"]
	path = oddaje/2018/Ethnoguessr-V2
	url = https://github.com/Ardweaden/Ethnoguessr-V2.git
[submodule "oddaje/2018/Pasja-bolha"]
	path = oddaje/2018/Pasja-bolha
	url = https://github.com/SandraKersevan/Pasja-bolha.git
[submodule "oddaje/2018/HarryPotter"]
	path = oddaje/2018/HarryPotter
	url = https://github.com/ursa16180/HarryPotter.git
[submodule "oddaje/2019/Letalski-prevozniki"]
	path = oddaje/2019/Letalski-prevozniki
	url = https://github.com/zigakodric/Letalski-prevozniki.git
[submodule "oddaje/2019/druzabne_igre"]
	path = oddaje/2019/druzabne_igre
	url = https://github.com/julitag/druzabne_igre.git
[submodule "oddaje/2019/Skoki"]
	path = oddaje/2019/Skoki
	url = https://github.com/Tejchy85/Skoki.git
[submodule "oddaje/2019/looking.si"]
	path = oddaje/2019/looking.si
	url = https://github.com/katarinabrilej/looking.si.git
[submodule "oddaje/2019/vojne"]
	path = oddaje/2019/vojne
	url = https://github.com/timotejvesel/vojne.git
[submodule "oddaje/2019/BusinessNet"]
	path = oddaje/2019/BusinessNet
	url = https://github.com/tinarazic/BusinessNet.git
[submodule "oddaje/2019/Avtomobilska-drazba"]
	path = oddaje/2019/Avtomobilska-drazba
	url = https://github.com/jakamun/Avtomobilska-drazba.git
[submodule "oddaje/2019/Krvna-banka"]
	path = oddaje/2019/Krvna-banka
	url = https://github.com/jonagricar/Krvna-banka.git
[submodule "oddaje/2019/Filmi"]
	path = oddaje/2019/Filmi
	url = https://github.com/anamkravanja/Filmi.git
[submodule "oddaje/2019/Nogometni_prestopi"]
	path = oddaje/2019/Nogometni_prestopi
	url = https://github.com/MatijaGH/Nogometni_prestopi
[submodule "oddaje/2019/NBA.stats"]
	path = oddaje/2019/NBA.stats
	url = https://github.com/andrazdeluisa/NBA.stats
[submodule "oddaje/2019/Iskalnik-postnih-posiljk"]
	path = oddaje/2019/Iskalnik-postnih-posiljk
	url = https://github.com/ZavbiA/Iskalnik-postnih-posiljk.git
[submodule "oddaje/2019/najej.se"]
	path = oddaje/2019/najej.se
	url = https://github.com/lauraguzeljblatnik/najej.se.git
[submodule "oddaje/2019/Plezalisca"]
	path = oddaje/2019/Plezalisca
	url = https://github.com/sasatrstenjak/Plezalisca.git
[submodule "oddaje/2019/university-database"]
	path = oddaje/2019/university-database
	url = git@github.com:tinabertok/university-database.git
[submodule "oddaje/2020/COVID-19_BAZA"]
	path = oddaje/2020/COVID-19_BAZA
	url = https://github.com/JanKolenc/COVID-19_BAZA.git
[submodule "oddaje/2020/Borza"]
	path = oddaje/2020/Borza
	url = https://github.com/jan248/Borza.git
[submodule "oddaje/2020/napovediOPB"]
	path = oddaje/2020/napovediOPB
	url = https://github.com/aljazostrez/napovediOPB.git
[submodule "oddaje/2020/Sport"]
	path = oddaje/2020/Sport
	url = https://github.com/1marcelspehonja/Sport.git
[submodule "oddaje/2020/Socialno-omrezje-aktivnosti"]
	path = oddaje/2020/Socialno-omrezje-aktivnosti
	url = https://github.com/katjadraksler/Socialno-omrezje-aktivnosti.git
[submodule "oddaje/2020/Knjiznica"]
	path = oddaje/2020/Knjiznica
	url = https://github.com/melamalej/Knjiznica.git
[submodule "oddaje/2020/OPB-zavarovalnica"]
	path = oddaje/2020/OPB-zavarovalnica
	url = https://github.com/matejske/OPB-zavarovalnica.git
[submodule "oddaje/2020/Pohodnistvo"]
	path = oddaje/2020/Pohodnistvo
	url = https://github.com/Marsovc1/Pohodnistvo.git
[submodule "oddaje/2020/Cineplexx"]
	path = oddaje/2020/Cineplexx
	url = https://github.com/evgenijja/Cineplexx.git
[submodule "oddaje/2020/Nepremicnine"]
	path = oddaje/2020/Nepremicnine
	url = https://github.com/sabrinacalcina/Nepremicnine.git
[submodule "oddaje/2020/Avtohisa"]
	path = oddaje/2020/Avtohisa
	url = https://github.com/larajagodnik/Avtohisa.git
[submodule "oddaje/2020/OPB-umetnine"]
	path = oddaje/2020/OPB-umetnine
	url = https://github.com/tomazderca/OPB-umetnine.git
[submodule "oddaje/2020/OPB-Spletna-trgovina"]
	path = oddaje/2020/OPB-Spletna-trgovina
	url = https://github.com/JernejcicZan/OPB-Spletna-trgovina.git
[submodule "oddaje/2020/NPC-generator-za-DnD"]
	path = oddaje/2020/NPC-generator-za-DnD
	url = https://github.com/nikerzetic/NPC-generator-za-DnD.git
[submodule "oddaje/2021/MovieRecommender"]
	path = oddaje/2021/MovieRecommender
	url = https://github.com/jakobzmrzlikar/MovieRecommender.git
[submodule "oddaje/2021/OPB-e-knjiznica"]
	path = oddaje/2021/OPB-e-knjiznica
	url = https://github.com/AnjaTrobec/OPB-e-knjiznica.git
[submodule "oddaje/2021/Restavracija-OPB"]
	path = oddaje/2021/Restavracija-OPB
	url = https://github.com/Duzo12/Restavracija-OPB.git
[submodule "oddaje/2021/Eksoticni_resort_OPB_2021"]
	path = oddaje/2021/Eksoticni_resort_OPB_2021
	url = https://github.com/MatevzKopac/Eksoticni_resort_OPB_2021.git
[submodule "oddaje/2021/Zivali-bolha.com"]
	path = oddaje/2021/Zivali-bolha.com
	url = https://github.com/mancafifnja/Zivali-bolha.com.git
[submodule "oddaje/2021/OPB-Turisticna_agencija"]
	path = oddaje/2021/OPB-Turisticna_agencija
	url = https://github.com/ZaloznikV/OPB-Turisticna_agencija.git
[submodule "oddaje/2021/OPB-Ne_se_ena_spletna_trgovina"]
	path = oddaje/2021/OPB-Ne_se_ena_spletna_trgovina
	url = https://github.com/MartinDolenc/OPB-Ne_se_ena_spletna_trgovina.git
[submodule "oddaje/2021/OrganizatorNakupov"]
	path = oddaje/2021/OrganizatorNakupov
	url = https://github.com/RenkoT97/OrganizatorNakupov.git
[submodule "oddaje/2022/projektna-naloga-Covid-19"]
	path = oddaje/2022/projektna-naloga-Covid-19
	url = https://github.com/BlackPhoenixSlo/projektna-naloga-Covid-19.git
[submodule "oddaje/2022/Nepremicninske-agencije"]
	path = oddaje/2022/Nepremicninske-agencije
	url = https://github.com/nezakrzan/Nepremicninske-agencije.git
[submodule "oddaje/2022/Jaz-pa-pojdem"]
	path = oddaje/2022/Jaz-pa-pojdem
	url = https://github.com/CebuljIza/Jaz-pa-pojdem.git
[submodule "oddaje/2022/JIJ-prodaja-avtov"]
	path = oddaje/2022/JIJ-prodaja-avtov
	url = https://github.com/ian-spiller/JIJ-prodaja-avtov.git
[submodule "oddaje/2022/Gamma"]
	path = oddaje/2022/Gamma
	url = https://github.com/MatejRojec/Gamma.git
[submodule "oddaje/2022/NBA"]
	path = oddaje/2022/NBA
	url = https://github.com/gapo8/NBA.git
[submodule "oddaje/2022/letalski-promet"]
	path = oddaje/2022/letalski-promet
	url = https://github.com/juresternad/letalski-promet.git
[submodule "oddaje/2022/instrukcije-opb"]
	path = oddaje/2022/instrukcije-opb
	url = https://github.com/katjakranjec/instrukcije-opb.git
[submodule "oddaje/2022/Lokalna-veriga-B-B"]
	path = oddaje/2022/Lokalna-veriga-B-B
	url = https://github.com/brinaribic/Lokalna-veriga-B-B.git
[submodule "oddaje/2022/Potniski-promet"]
	path = oddaje/2022/Potniski-promet
	url = https://github.com/Globocnik0/Potniski-promet.git
[submodule "oddaje/2022/Hotel_management-OPB-Projektna-Naloga"]
	path = oddaje/2022/Hotel_management-OPB-Projektna-Naloga
	url = https://github.com/UdirL18/Hotel_management-OPB-Projektna-Naloga.git
[submodule "oddaje/2022/Nogometna_liga"]
	path = oddaje/2022/Nogometna_liga
	url = https://github.com/jasapozne/Nogometna_liga.git
[submodule "oddaje/2022/zdravstvo-na-daljavo"]
	path = oddaje/2022/zdravstvo-na-daljavo
	url = https://github.com/matejbolta/zdravstvo-na-daljavo.git
