% setdefault('stolpci', '[1]')

<div class="row mx-0 bg-light">
    <div class="col py-3">
        <div class="form-group row mb-0 d-flex align-items-center">
            <label for="isci" class="col-sm-2 col-form-label">Išči: </label>
            <div class="col-sm-10">
                <input id="isci" class="form-control" type="text" oninput="isci({{stolpci}})" />
            </div>
        </div>
    </div>
    <div class="col py-3 d-flex justify-content-end align-items-center">
        <a href="{{povezava}}">
            <button type="button" class="btn btn-primary">{{napis}}</button>
        </a>
    </div>
</div>
