% rebase('osnova.html', stran=f'komitenti_racuni-{oseba.emso}', naslov='Računi komienta')

<div class="container">
    <div class="level">
        <div class="level-left">
            <div class="level-item">
                <h1 class="title">
                    Računi komitenta {{oseba.ime}} {{oseba.priimek}} ({{oseba.emso}})
                </h1>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <form method="POST" action="{{url('komitenti_dodaj_racun_post', emso=oseba.emso)}}">
                    <button class="button is-primary">
                        Dodaj račun
                    </button>
                </form>
            </div>
        </div>
    </div>

    <table class="table">
        <tr>
            <th>Številka</th>
            <th>Stanje</th>
            <th></th>
        </tr>
        % for racun in oseba.racuni():
        <tr>
            <td>
                <a href="{{url('racuni_transakcije', stevilka=racun.stevilka)}}">
                    {{racun.stevilka}}
                </a>
            </td>
            <td>{{racun.stanje}}</td>
            <td>
                <div class="buttons">
                    <form method="POST"
                     onsubmit="return confirm('Ali res želiš izbrisati račun s številko {{racun.stevilka}}?')">
                        <button class="button is-danger">
                            <span class="icon is-small">
                                <i class="fas fa-trash"></i>
                            </span>
                        </button>
                    </form>
                </div>
            </td>
        </tr>
        % end
    </table>
</div>
