% rebase('osnova.html', naslov='Pošte')

  <a href="{{url('kraji_dodaj')}}">Dodaj kraj</a>

    <table class="table table-striped">
      <tr>
        <th>Poštna številka</th>
        <th>Kraj</th>
        <th></th>
      </tr>
      %for posta, kraj in poste:
      <tr>
        <td>{{posta}}</td>
        <td>{{kraj}}</td>
        <td>
          <form action="{{url('kraji_uredi', posta=posta)}}" method="GET">
            <input value="Uredi" type="submit" />
          </form>
          <form action="{{url('kraji_brisi', posta=posta)}}" method="POST">
            <input value="Izbriši" type="submit" />
          </form>
        </td>
      </tr>
      %end
    </table>
