% setdefault('naslov', 'Banka')
% sporocilo = preberi_sporocilo()
% if not defined('uporabnik'):
%   uporabnik = prijavljeni_uporabnik()
% end

<!DOCTYPE html>
<html class="has-navbar-fixed-top">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{naslov}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.2/css/all.min.css">
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                    const $notification = $delete.parentNode;

                    $delete.addEventListener('click', () => {
                    $notification.parentNode.removeChild($notification);
                });
            });
        });
    </script>
</head>

<body>
    <nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item {{'is-selected' if stran == 'index' else ''}}" href="{{url('index')}}">
                Banka
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            % if uporabnik:
            <div class="navbar-start">
                % if uporabnik.admin:
                <a class="navbar-item {{'is-selected' if stran == 'kraji' else ''}}" href="{{url('kraji')}}">
                    Kraji
                </a>

                <a class="navbar-item {{'is-selected' if stran == 'komitenti' else ''}}" href="{{url('komitenti')}}">
                    Komitenti
                </a>
                % end

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Računi
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item {{'is-selected' if stran == f'komitenti_racuni-{uporabnik.emso}' else ''}}" href="{{url('komitenti_racuni', emso=uporabnik.emso)}}">
                            Moji računi
                        </a>
                        % if uporabnik.admin:
                        <a class="navbar-item {{'is-selected' if stran == 'racuni' else ''}}" href="{{url('racuni')}}">
                            Seznam računov
                        </a>
                        % end
                    </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Transakcije
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item {{'is-selected' if stran == f'komitenti_transakcije-{uporabnik.emso}' else ''}}"  href="{{url('komitenti_transakcije', emso=uporabnik.emso)}}">
                            Moje transakcije
                        </a>
                        % if uporabnik.admin:
                        <a class="navbar-item {{'is-selected' if stran == 'transakcije' else ''}}" href="{{url('transakcije')}}">
                            Seznam transakcij
                        </a>
                        % end
                    </div>
                </div>
            </div>
            % end

            <div class="navbar-end">
                % if uporabnik:
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button {{'is-warning' if uporabnik.admin else 'is-light'}}" href="{{url('komitenti_uredi', emso=uporabnik.emso)}}">
                            <strong>{{uporabnik.up_ime}}</strong>
                        </a>
                        <form action="{{url('odjava_post')}}" method="POST">
                            <button class="button is-primary">
                                Odjava
                            </button>
                        </form>
                    </div>
                </div>
                % else:
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="{{url('registracija')}}">
                            <strong>Registracija</strong>
                        </a>
                        <a class="button is-light" href="{{url('prijava')}}">
                            Prijava
                        </a>
                    </div>
                </div>
                % end
            </div>
        </div>
    </nav>
    % if sporocilo:
    <div class="notification is-warning">
        <button class="delete"></button>
        {{sporocilo}}
    </div>
    % end
    <section class="section">
        {{!base}}
    </section>
</body>

</html>