% rebase('osnova.html', stran='racuni', naslov='Računi')
% skupaj = 0
<div class="container">
    <h1 class="title">
        Računi
    </h1>

    <table class="table">
        <tr>
            <th>Številka</th>
            <th>Lastnik</th>
            <th>Stanje</th>
            <th></th>
        </tr>
        % for racun in Racun.seznam():
        <tr>
            % skupaj += racun.stanje
            <td>
                <a href="{{url('racuni_transakcije', stevilka=racun.stevilka)}}">
                    {{racun.stevilka}}
                </a>
            </td>
            <td>
                <a href="{{url('komitenti_racuni', emso=racun.lastnik.emso)}}">
                    {{racun.lastnik.ime}} {{racun.lastnik.priimek}} ({{racun.lastnik.emso}})
                </a>
            </td>
            <td>{{racun.stanje}}</td>
            <td>
                <form action="{{url('racuni_izbrisi_post', stevilka=racun.stevilka)}}" method="POST"
                  onsubmit="return confirm('Ali res želiš izbrisati račun s številko {{racun.stevilka}}?')">
                    <button class="button is-danger">
                        <span class="icon is-small">
                            <i class="fas fa-trash"></i>
                        </span>
                    </button>
                </form>
            </td>
        </tr>
        % end
        <tr>
            <th></th>
            <th>Skupno stanje</th>
            <th>{{skupaj}}</th>
            <th></th>
        </tr>
    </table>
</div>