<html>
  <head>
    <title>Transakcije</title>
  </head>
  <body>
    <h2>Seznam transakcij</h2>

    <table>
      <tr>
        <th>ID</th>
        <th>Številka računa</th>
        <th>Znesek</th>
        <th>Čas</th>
        <th>Opis</th>
      </tr>
      %for transakcija in transakcije:
      <tr>
        <td>{{transakcija.id}}</td>
        <td>{{transakcija['racun_id']}}</td>
        <td>{{transakcija.znesek}}</td>
        <td>{{transakcija.cas}}</td>
        <td>{{transakcija.opis}}</td>
      </tr>
      %end
    </table>

  </body>
</html>
