% rebase('osnova.html', stran='transakcije', naslov='Transakcije')
<div class="container">
    <h1 class="title">
        Transakcije
    </h1>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Račun</th>
            <th>Znesek</th>
            <th>Čas</th>
            <th>Opis</th>
            <th></th>
        </tr>
        % for transakcija in Transakcija.seznam():
        <tr>
            <td>{{transakcija.id}}</td>
            <td>{{transakcija.racun}}</td>
            <td>{{transakcija.znesek}}</td>
            <td>{{transakcija.cas}}</td>
            <td>{{transakcija.opis}}</td>
            <td>
                <form action="{{url('transakcije_izbrisi_post', id=transakcija.id)}}" method="POST"
                  onsubmit="return confirm('Ali res želiš izbrisati transakcijo z ID-jem {{transakcija.id}}?')">
                    <button class="button is-danger">
                        <span class="icon is-small">
                            <i class="fas fa-trash"></i>
                        </span>
                    </button>
                </form>
            </td>
        </tr>
        % end
    </table>
</div>