%rebase('osnova.html', naslov='Transakcije')

<h1 class="title">Seznam transakcij</h1>

<table class="table is-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Številka računa</th>
      <th>Znesek</th>
      <th>Čas</th>
      <th>Opis</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    %for transakcija in transakcije:
    <tr>
      <td>{{transakcija.id}}</td>
      <td><a href="{{url('transakcije_na_racunu', stevilka=transakcija['racun_id'])}}">{{transakcija['racun_id']}}</a></td>
      <td>{{transakcija.znesek}}</td>
      <td>{{transakcija.cas}}</td>
      <td>{{transakcija.opis}}</td>
      <td>
        <div class="field is-grouped">
          <a href="{{url('transakcije_uredi', id=transakcija.id)}}" class="button is-primary is-small">
            <span class="icon is-small">
              <i class="fas fa-pen"></i>
            </span>
          </a>
          <form action="{{url('transakcije_izbrisi_post', id=transakcija.id)}}" method="POST">
            <button class="button is-danger is-small">
              <span class="icon is-small">
                <i class="fas fa-trash-can"></i>
              </span>
            </button>
          </form>
        </div>
      </td>
    </tr>
    %end
  </tbody>
</table>
